extends ../default.pug

block title 
    title Tạo người dùng

append links
    link(rel="stylesheet", href="/css/form.css")

block content
    h1.page-title Tạo người dùng
    form(action="/users" method="POST")
        fieldset
            .input-container
                label(for="username") Tên đăng nhập
                input(type="text" name="username")
            .input-container
                label(for="fullname") Họ và tên
                input(type="text" name="fullname")
            .input-container
                label(for="email") Email
                input(type="text" name="email")
            .input-container
                label(for="password") Mật khẩu
                input(type="password" name="password")
            .input-container
                label(for="retyped_password") Nhập lại mật khẩu
                input(type="password" name="retyped_password")
            .input-container 
                label(for="role") Vai trò
                select(name="role")
                    option(value="admin") Admin
                    option(value="user") User
            button(type="submit" class="btn-primary btn-submit") Tạo