doctype html 
html
    head
        title Quản lý người dùng
        link(rel="stylesheet", href="/css/common.css")
        link(rel="stylesheet", href="/css/users.css")
        link(rel="stylesheet", href="/css/header.css")
    body
        include ../includes/header.pug
        .background
            .container
                h2.page-title Danh sách tài khoản
                a(href="/users/create")
                    button(type="button" class="btn-primary btn-create") Tạo tài khoản
                if users.length > 0
                    ul.user-list
                        each user, idx in users
                            li.user-list-item
                                .user-info
                                    a(href=`/users/${user.id}/update`) #{user.fullname}
                                    span #{user.email}
                                .user-action
                                    a(href=`/users/${user.id}/delete`) Xóa
    include ../includes/footer.pug