extends ../default.pug

block title 
    title Quản lý người dùng

append links
    link(rel="stylesheet", href="/css/users.css")

block content
    .page-title
        h1 Quản lý người dùng
        
    a(href="/books/create")
        button(type="button" class="btn-primary btn-create") Tạo mới
        
    if users.length > 0
        ul.user-list
            each user, idx in users
                li.user-list-item.list-item
                    a(href=`/users/${user.id}/update`).user-info
                        div #{user.fullname}
                        span #{user.email}
                    .user-action
                        a(href=`/users/${user.id}/delete`) Xóa