h2 {
    font-size: 4em;
    margin-top: 50px;
    margin-left: 50px;
}

.filter-container {
    width: 100%;
    display: flex;
    padding-left: 48px;
    justify-content: flex-start;
    align-items: center;
}

.filter-container a {
    text-decoration: none;
}

#btn-create {
    background-color: rgb(255, 166, 50);
    font-size: 20px;
    color: white;
    height: 60px;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-width: 0;
}

#btn-create:hover {
    background-color: rgb(130, 236, 130);
}

.book-list {
    display: flex;
    flex-wrap: wrap;
}

.book-list-item {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-color: rgb(123 61 61 / 0.8);
}

@keyframes list-item-on-hover {
    from {
        background-color: rgb(123 61 61 / 0.8);
    }
    to {
        background-color: rgb(123 61 61 / 1);
    }
}

.book-list-item:hover {
    animation: list-item-on-hover 0.5s linear forwards;
}

.book-cover {
    display: flex;
    justify-content: center;
}

.book-cover img {
    height: 244px;
    width: 244px;
    margin: 10px;
}

.book-info {
    padding: 0 12px;
}

.book-info > * {
    margin: 10px 0;
}

.book-action {
    align-self: flex-end;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 12px;
}

.book-action a {
    text-decoration: none;
    font-size: 20px;
    color: #ddd;
    margin-right: 24px;
}

.book-action a:visited {
    text-decoration: none;
    font-size: 20px;
    color: #ddd;
}

.btn-add {
    height: 390px;
    width: 45%;
    margin: 10px;
    background-color: rgb(123 61 61 / 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add:hover {
    animation: list-item-on-hover 0.5s linear forwards;
}

.btn-add a {
    text-decoration: none;
    color: #ddd;
    font-size: 45px;
}
