* {
    --header-color: #02354e;
}

html {
    height: 100%;
}
body {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.page-title {
    color: white;
}

.container {
    position: relative;
}

.background::before {
    z-index: 0;
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/background/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(4px); */
}

.background {
    flex: 1;
}

.btn-primary {
    background-color: rgb(113, 228, 113);
    color: white;
    font-size: 16px;
    border-radius: 16px;
    padding: 16px;
    border: none;
}

.btn-submit {
    width: 120px;
    height: 48px;
}

footer {
    z-index: 1;
    padding-left: 20px;
    background-color: var(--header-color);
    width: 100%;
    height: 60px;
    color: white;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 16px;
}

/* Not found section */
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.not-found h1 {
    flex: 1;
    font-size: 200px;
    color: white;
    margin-bottom: 0;
     /* Tạo viền cho chữ */
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
        1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.not-found h2 {
    margin-bottom: 20px;
    font-size: 64px;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
        1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.not-found p {
    flex: 3;
    margin-top: 0;
    font-size: 32px;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
        1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
