header
    a(href="/")
        img(src="./img/logo/photo-library-icon.jpg" alt="Logo" width="92px" height="92px")
    ul.menu
        if role == 'admin' 
            a(href="/books")
                li Sách
            a(href="/users")
                    li Người dùng
    span
        span.welcome
        
            if username
                span Xin chào #{username}
                a(href="/logout") Đăng xuất
            else
                a(href="/login") Đăng nhập