doctype html 
html 
    head
        title Tạo sách
        link(rel="stylesheet", href="/css/common.css")
        link(rel="stylesheet", href="/css/form.css")
        link(rel="stylesheet", href="/css/header.css")
    body
        include ../includes/header.pug
        .background
            .container
                h1.page-title Tạo sách
                form(action="/books" method="POST" enctype="multipart/form-data")
                    fieldset
                        input(type="text" placeholder="Tiêu đề" name="title") 
                        input(type="text" placeholder="Tác giả" name="author")
                        input(type="text" placeholder="Nhà xuất bản" name="publisher")
                        input(type="number" placeholder="Năm xuất bản" name="publishedYear")
                        input(type="text" placeholder="Mô tả" name="description")
                        input(type="file" placeholder="Ảnh bìa" name="cover" title="")
                        button(type="submit" class="btn-primary btn-submit") Tạo
        include ../includes/footer.pug