extends ../default.pug

block title 
    title Tạo sách

append links
    link(rel="stylesheet", href="/css/form.css")

block content
    .page-title
        h1 Tạo sách
    form(action="/books" method="POST" enctype="multipart/form-data")
        fieldset
            .input-container
                label(for="title") Tiêu đề
                input(type="text" name="title")
            .input-container
                label(for="author") Tác giả
                input(type="text" name="author")
            .input-container
                label(for="publisher") Nhà xuất bản
                input(type="text" name="publisher")
            .input-container
                label(for="publishedYear") Năm xuất bản
                input(type="number" min="0" max="2024" name="publishedYear")
            .input-container
                label(for="description") Mô tả
                input(type="text" name="description")
            .file-uploader-container
                input(type="file" name="cover" title="")
            button(type="submit" class="btn-primary btn-submit") Tạo