doctype html 
html 
    head
        block title
        block links
            link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css", integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK", crossorigin="anonymous")
            link(rel="stylesheet", href="/css/common.css")
    body
        include includes/header.pug
        .container
            block content
        include includes/footer.pug