
doctype html 
html
    head
        title Không tìm thấy
        link(rel="stylesheet", href="/css/common.css")
        link(rel="stylesheet", href="/css/users.css")
        link(rel="stylesheet", href="/css/header.css")
    body
        include ./includes/header.pug
        .container
            .not-found
                h1 404
                h2 Không tìm thấy
                p Chúng tôi không tìm thấy trang bạn yêu cầu
        include ./includes/footer.pug