extends default.pug

block title
    title Không tìm thấy

block content
    .not-found
        h1.bordered-text 404
        h2.bordered-text Không tìm thấy
        p.bordered-text Chúng tôi không tìm thấy trang bạn yêu cầu