doctype html 
html 
    head
        title Đăng ký
        link(rel="stylesheet", href="/css/common.css")
        link(rel="stylesheet", href="/css/header.css")
        link(rel="stylesheet", href="/css/login.css")
    body
        .background
            .container
                form(action="/register" method="POST" autocomplete="off")
                    fieldset
                        input(type="text" name="username" placeholder="Tên người dùng")
                        input(type="email" name="email" placeholder="Email")
                        input(type="password" name="password" placeholder="Mật khẩu")
                        input(type="submit" value="Đăng ký" class="btn-primary btn-submit")
                        if error
                            p.error=error
